.background-slideshow {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative; /* Ensure positioning for absolute children */
    overflow: hidden; /* Prevent overflow */
}

.fade {
    position: absolute; /* Overlay images on top of each other */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* 1 second for fading */
}

.fade.active {
    opacity: 1; /* Fully visible */
}

